@font-face {
    font-family: 'SignatureFont';
    src: url('/fonts/Holimount.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  .signature_font{
    font-family: 'SignatureFont', Arial, sans-serif;
  }